name: go-lint
on:
  push:
  workflow_call:
permissions:
  contents: read
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Setup Go
        uses: actions/setup-go@v2
        with:
          go-version: '1.18'
      - name: Install dependencies
        run: /bin/bash scripts/install_build_deps.sh
      - name: Generated code
        run: make generate
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v2
        with:
          version: v1.45.2
          skip-pkg-cache: true
          skip-build-cache: true
