name: go-test
on:
  push:
    branches:
      - "!release"
      - "!alpha"
      - "!beta"
      - "!rc"
  workflow_call:
  pull_request:
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v3
        with:
          submodules: true

      # this is just to separate deps and docker pull logs from the main tests step
      - name: Warmup tests
        run: make run

      - name: Run tests
        id: tests
        run: make test
        continue-on-error: true
        env:
          TEST_PARAM: "-coverprofile=coverage.out -covermode=atomic"

      - name: Server logs
        if: steps.tests.outcome != 'success'
        run: docker-compose -f test/docker/docker-compose.yml logs

      - name: Check tests status
        if: steps.tests.outcome != 'success'
        run: |
          echo "^^ Tests failed. Check tests output and logs in the steps above ^^"
          exit 1

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v3
