name: go-test
on:
  push:
  workflow_call:
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v1

      - name: Get changed files
        id: changed-files
        uses: tj-actions/changed-files@v16

      # TODO: Fix docker caching
      - name: Pull docker images
        run: docker-compose -f test/docker/docker-compose.yml pull

      - name: Check need rebuild Docker images
        run: |
          echo "need_rebuild=true" >> $GITHUB_ENV

      - name: Pull build docker images
        if: env.need_rebuild
        run: |
          docker pull debian:bullseye-slim
          docker pull golang:1.18-bullseye

      - name: Pull submodules
        run: git submodule update --init --recursive

      - name: Build docker images
        if: env.need_rebuild
        run: |
          make docker_compose_build
          docker image rm debian:bullseye-slim golang:1.18-bullseye
          docker image prune -f

      - name: Run tests
        run: TEST_PARAM="-coverprofile=coverage.out -covermode=atomic" make docker_test_no_build || ( docker-compose -f test/docker/docker-compose.yml logs && false )

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v2
