name: publish docker image

on:
  pull_request:
  push:
    branches:
      - main
  release:
    types: [published]
  workflow_call:
    secrets:
      GH_DOCKER_ACCESS_USER:
        required: true
      GH_DOCKER_ACCESS_TOKEN:
        required: true

env:
  DOCKER_REPOSITORY: "tigrisdata/tigris"

jobs:
  build-and-push-image:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
        with:
          submodules: true

      - name: Fetch tags
        run: |
          git fetch --prune --unshallow --tags

      - name: Login to Docker Hub
        id: login-docker-hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.GH_DOCKER_ACCESS_USER }}
          password: ${{ secrets.GH_DOCKER_ACCESS_TOKEN }}

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v3
        with:
          # list of Docker images to use as base name for tags
          images: |
            ${{ env.DOCKER_REPOSITORY }}
          # generate Docker tags based on the following events/attributes
          # we generate the latest tag off the beta branch
          tags: |
            type=ref,event=branch
            type=ref,event=pr
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}
            type=raw,value=latest,enable=${{ github.ref == 'refs/heads/beta' }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Build and push Docker images
        uses: docker/build-push-action@v2
        with:
          context: .
          file: docker/Dockerfile
          platforms: linux/amd64,linux/arm64
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
